registry=http://registry.npmjs.org/
# @brightside:registry=https://gizaartifactory.jfrog.io/gizaartifactory/api/npm/npm-release/
@brightside:registry=https://api.bintray.com/npm/ca/brightside/
package-lock=false